*
{
	margin: 0;
	padding: 10px;
}
body
{
	background: #f4f4f4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

header, footer
{
	background: #333;
	color: #fff;

}

.name
{
	font-family: Tahoma;
	font-weight: 800;

}

span
{
	background: red;
	display: block;
}

.categories
{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;
}

.categories ul{
	padding: 0;
	list-style: none;
}

.categories li
{
	padding-bottom: 10px;
}

.block
{
 	float: left;
 	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}

.clr
{
	clear: both;
}

#main-block
{
	float: left;
	width: 70%;
	box-sizing: border-box;
}

#sidebar
{
	float: right;
	width: 30%;
	padding: 15px;
	box-sizing: border-box;
	background: black;
	color: #ffff;
}


.mainBlock h1
{
	justify-content: center;
	
}

section h3{
	color: blue;
}

.content-wrapper
{
	width: 90%;
	margin: auto;

}




.section-summary
{
	border: 1px solid red;
	display: grid;
}


.section-experience
{
		background: #EDF2F4;
}
.section-education
{
		background: #EDF2F4;
}

.company
{
	border: 1px solid black;
}

p:hover
{
	color: red;
}

p:focus
{
	outline: 1px solid black;
}
